Flask==1.1.1
#Flask-Cors==3.0.8
#Flask-RESTful==0.3.8
#Flask-Session==0.3.1
pymessenger==0.0.7.0
tensorflow==2.0.0
#tensorflow-addons==0.8.2
#tensorflow-estimator==2.0.1
#tensorlayer==2.2.1
pandas==0.25.1
cloudpickle==1.2.2
pickleshare==0.7.5
json5==0.8.5
jsonschema==3.0.2
numpy==1.18.0
underthesea==1.1.17
opencage==1.2
requests==2.22.0
gunicorn==20.0.4
#Unidecode==1.1.1
psycopg2-binary==2.8.5
dj-database-url==0.5.0
pymongo==3.8.0
dnspython==1.16.0
pytesseract==0.3.4
pycurl==7.43.0.3
beautifulsoup4==4.8.0
certifi==2019.11.28
#google-cloud-bigquery==1.24.0